<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Marko Milovanovic</title>

<!-- Google fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>

<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- favicon -->
<link rel="shortcut icon" href="" type="image/x-icon">
<link rel="icon" href="" type="image/x-icon">

</head>

<body>


<div id="home">
<!-- Slider Starts -->
    <div class="banner">
        <%=image_tag("back.jpg", alt: "Example Image")%>
        <!--<img src="/images/back.jpg" alt="banner" class="img-responsive">-->
        <div class="caption">
            <div class="caption-wrapper">
              <div class="caption-info">
                  <%=image_tag("DSC_0053.jpg", alt: "circle", class: "img-circle profile")%>              
                  <!--<img src="" class="img-circle profile">-->
                  <h1 class="animated bounceInUp">Marko Milovanovic</h1>
                  <p class="animated bounceInLeft">Software Developer | Photography </p>
                 <div class="animated bounceInDown"><a href="#works" class="btn btn-default explore">View My Works</a></div>
              </div>
            </div>
        </div>
    </div>
<!-- #Slider Ends -->
</div>

<!-- works -->
<div id="works"  class=" clearfix grid">
    <% for i in 1..@image_links.size do %>
    <figure class="effect-oscar  wowload fadeInUp" width = "33%" height = "33%">
        <img src="<%= @image_links[i] %>" alt="img<%= i %>"/>
        <figcaption>
            <h2><%= @image_captions[i] %></h2>
            <p><%= @image_captions[i] %><br>
            <a href="<%= @image_links[i] %>" title="<%= i %>" data-gallery>View more</a></p>            
        </figcaption>
    </figure> 
    <% end %>
</div>
<!-- works -->


<div id="testimonials" class="container spacer ">
	<h2 class="text-center  wowload fadeInUp">Testimonials</h2>
  <div class="clearfix">    
    <div class="col-sm-6 col-sm-offset-3">


    <div id="carousel-testimonials" class="carousel slide testimonails  wowload fadeInRight" data-ride="carousel">
    <div class="carousel-inner">  
      <div class="item active animated bounceInRight row">
      <div class="animated slideInLeft col-xs-2"><img alt="portfolio" src="" width="100" class="img-circle img-responsive"></div>
      <div  class="col-xs-10">
      <p> University of Waterloo
      </div>
      </div>
      <div class="item  animated bounceInRight row">
      <div class="animated slideInLeft col-xs-2"><img alt="portfolio" src="" width="100" class="img-circle img-responsive"></div>
      <div  class="col-xs-10">
      <p>Serbia
      </div>
      </div>
      <div class="item  animated bounceInRight row">
      <div class="animated slideInLeft  col-xs-2"><img alt="portfolio" src="" width="100" class="img-circle img-responsive"></div>
      <div  class="col-xs-10">
      <p>Canada
      </div>
      </div>
  </div>

   <!-- Indicators -->
   	<ol class="carousel-indicators">
    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
  	</ol>
  	<!-- Indicators -->
  </div>
    </div>
  </div>
</div>

<!-- Footer Starts -->
<div class="footer text-center spacer">
<p class="wowload flipInX"><a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-instagram fa-2x"></i></a> <a href="#"><i class="fa fa-twitter fa-2x"></i></a> <a href="#"><i class="fa fa-flickr fa-2x"></i></a> </p>
Copyright 2018 Marko Creative Studios. All rights reserved.
</div>
<!-- # Footer Ends -->
<a href="#home" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->    
</div>

</body>
</html>